.wrld-funds-container {
    display: flex;
    flex-direction: column;
}

.withdraw-button {
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
}

.withdraw-button:hover {
    text-decoration: underline;
}

.withdraw-form {
    margin: 25px 0 0 0;
}