.item-container {
    padding: 10px 0;
    border-bottom: 2px solid #FFF;
    margin-bottom: 10px;
}

.item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.item-title h3 {
    margin: 0;
    font-size: 1.3em;
}

.item-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-content p {
    margin: 0 0 25px 0;
}

.item-content button {
    margin-bottom: 15px;
}